<nav class="navbar navbar-fixed-top" name="website-navbar">
    <header href="index.html">Profile
        <a href="profile.view.client.html">
            <span class="glyphicon glyphicon-ok pull-right"
                  name="ok-glyph">
            </span>
        </a>
    </header>
    </div>
</nav>

<div class="container-fluid">
    <div ng-controller="profileController">

    <div class="form-group">
        <label for="username">Username</label>
        <input name="username"
               id="username"
               type="text"
               ng-model="ctrl.user.username"
               placeholder="Username"
               class="form-control">
    </div>

    <div class="form-group">
        <label for="email">Email</label>
        <input name="email"
               id="email"
               type="text"
               ng-model="ctrl.user.email"
               placeholder="Email"
               class="form-control"/>
    </div>

    <div class="form-group">
        <label for="firstName">First Name</label>
        <input name="firstName"
               id="firstName"
               type="text"
               ng-model="ctrl.user.firstname"
               placeholder="First Name"
               class="form-control"/>
    </div>

    <div class="form-group">
        <label for="lastName">Last Name</label>
        <input name="lastName"
               id="lastName"
               type="text"
               ng-model="ctrl.user.lastname"
               placeholder="Last Name"
               class="form-control"/>
    </div>

    <div class="form-group">
        <a class="btn btn-default btn-block btn-primary"
           href="#!/user/{{ctrl.user._id}}/website"
           role="button">Websites</a>

        <a class="btn btn-default btn-block btn-danger"
           ng-click="ctrl.updateUser()"
           role="button">Unregister</a>

        <a class="btn btn-default btn-block btn-danger"
           href="login.view.client.html"
           role="button">Update</a>

        <a class="btn btn-default btn-block btn-danger"
           href="login.view.client.html"
           role="button">Logout</a>
    </div>

    </div>
</div>

<nav class="navbar navbar-fixed-bottom" name="website-navbar">
    <span class="glyphicon glyphicon-user pull-right" name="user-glyph"></span>
</nav>