<nav class="navbar navbar-fixed-top">
    <div class="container-fluid">
    <a href="#" class="w3-bar-item w3-button">HOME</a>
    <a href="#!/login" class="w3-bar-item w3-button w3-hide-small"><i class="fa fa-user"></i> LOGIN</a>
    <a href="#!/register" class="w3-bar-item w3-button w3-hide-small"><i class="fa fa-th"></i> REGISTER</a>
    </div>
</nav>

<div class="container-fluid" id="home">
    <div class="w3-display-middle" style="white-space:nowrap;">
        <span class="w3-xlarge w3-wide"> Rhythm Shark - Music Sharing Made Easy</span>
    </div>
</div>