<div class="w3-top">
    <div class="w3-bar" id="homeNav">
        <a href="#" class="w3-bar-item w3-button"><i class="fa fa-home"></i> HOME</a>
        <a ng-show="!model.currentUser" href="#!/login" class="w3-bar-item w3-button w3-hide-small"><i class="fa fa-th"></i> LOGIN</a>
        <a ng-show="!model.currentUser" href="#!/register" class="w3-bar-item w3-button w3-hide-small"><i class="fa fa-envelope"></i> REGISTER</a>
        <a ng-show="model.currentUser" href="#!/community/{{model.userId}}" class="w3-bar-item w3-button w3-hide-small"><i class="fa fa-user"></i>
            MY PROFILE</a>
        <a ng-show="model.currentUser" href="#!/profile" class="w3-bar-item w3-button w3-hide-small"><i class="fa fa-user"></i>
            EDIT PROFILE</a>
        <a ng-show="model.currentUser" href="#!/community/playlist" class="w3-bar-item w3-button w3-hide-small"><i
                class="fa fa-th"></i> MY PLAYLISTS</a>
        <a ng-show="model.currentUser" href="#!/community/search" class="w3-bar-item w3-button w3-hide-small"><i
                class="fa fa-music"></i> FIND MUSIC</a>
        <a ng-show="model.currentUser" href="#!/community" class="w3-bar-item w3-button w3-hide-small"><i class="fa fa-users"></i> COMMUNITY</a>
        <a ng-show="model.currentUser" ng-click="model.logOut()" class="w3-bar-item w3-button w3-hide-small"><i class="fa fa-sign-out"></i> SIGN OUT</a>
    </div>
</div>

<div class="bgimg-1 w3-display-container" id="home">
    <div class="w3-display-middle" id="title">
        <span ng-show="!model.currentUser" class="w3-center w3-padding-large w3-black w3-xlarge w3-wide w3-animate-opacity"> Rhythm Shark - A New Way to Track and Share Music</span>
        <span ng-show="model.currentUser" class="w3-center w3-padding-large w3-black w3-xlarge w3-wide w3-animate-opacity"> {{model.welcomeMessage}}</span>
    </div>
</div>