<nav class="navbar navbar-fixed-top">
    <div class="container-fluid">
    <a href="#home" class="w3-bar-item w3-button">HOME</a>
    <a href="/assignment/#!" class="w3-bar-item w3-button w3-hide-small"><i class="fa fa-th"></i>
        ASSIGNMENTS</a>
    <a href="/project" class="w3-bar-item w3-button w3-hide-small"><i class="fa fa-th"></i> PROJECT</a>
    <a href="/test/#!" class="w3-bar-item w3-button w3-hide-small"><i class="fa fa-th"></i> TEST API QUERY</a>
    <a href="#contact" class="w3-bar-item w3-button w3-hide-small"><i class="fa fa-envelope"></i> CONTACT</a>
    </div>
</nav>

<div class="container-fluid" id="home">
    <div class="w3-display-middle" style="white-space:nowrap;">
        <span class="w3-center w3-padding-large w3-xlarge w3-wide w3-animate-opacity"> Rhythm Shark - Music Sharing Made Easy</span>
    </div>
</div>