<div class="w3-top">
    <div class="w3-bar" id="homeNav">
        <a href="#" class="w3-bar-item w3-button"><i class="fa fa-home"></i> HOME</a>
        <a href="#!/community/{{model.userId}}" class="w3-bar-item w3-button w3-hide-small"><i class="fa fa-user"></i>
            MY PROFILE</a>
        <a href="#!/profile/{{model.userId}}" class="w3-bar-item w3-button w3-hide-small"><i class="fa fa-user"></i>
            EDIT PROFILE</a>
        <a href="#!/community/{{model.userId}}/playlist" class="w3-bar-item w3-button w3-hide-small"><i
                class="fa fa-th"></i> MY PLAYLISTS</a>
        <a href="#!/community/{{model.user._id}}/search" class="w3-bar-item w3-button w3-hide-small"><i
                class="fa fa-music"></i> FIND MUSIC</a>
        <a href="#!/community" class="w3-bar-item w3-button w3-hide-small"><i class="fa fa-users"></i> COMMUNITY</a>
        <a href="#!/" class="w3-bar-item w3-button w3-hide-small"><i class="fa fa-sign-out"></i> SIGN OUT</a>
    </div>
</div>

<div id="content">

    <div class="container-fluid" id="body">

    <div class="form-group">
        <label for="header-name">Name</label>
        <input name="header-name"
               id="header-name"
               type="text"
               placeholder="Name"
               ng-model="model.playlist.name"
               class="form-control"/>
    </div>

    <div class="form-group">
        <label for="description">Description</label>
        <textarea name="description" id="description" type="text" placeholder="Description" class="form-control"
                  ng-model="model.playlist.description"
                  rows="3"></textarea>
    </div>

    <a class="btn btn-default btn-block btn-warning"
       ng-click="model.createPlaylist(model.playlist)">
        Create Playlist</a>

    </div>
</div>