<div class="w3-top">
    <div class="w3-bar" id="homeNav">
        <a href="#" class="w3-bar-item w3-button"><i class="fa fa-home"></i> HOME</a>
        <a href="#!/community/{{model.userId}}" class="w3-bar-item w3-button w3-hide-small"><i class="fa fa-user"></i>
            MY PROFILE</a>
        <a href="#!/profile" class="w3-bar-item w3-button w3-hide-small"><i class="fa fa-user"></i>
            EDIT PROFILE</a>
        <a href="#!/community/playlist" class="w3-bar-item w3-button w3-hide-small"><i
                class="fa fa-th"></i> MY PLAYLISTS</a>
        <a href="#!/community/search" class="w3-bar-item w3-button w3-hide-small"><i
                class="fa fa-music"></i> FIND MUSIC</a>
        <a href="#!/community" class="w3-bar-item w3-button w3-hide-small"><i class="fa fa-users"></i> COMMUNITY</a>
        <a ng-click="model.logOut()" class="w3-bar-item w3-button w3-hide-small"><i class="fa fa-sign-out"></i> SIGN OUT</a>
    </div>
</div>

<div id="content">

    <div class="container-fluid" id="body">

        <h2>PLAYLISTS</h2>

        <ul class="list-group">
            <li class="list-group-item table-header">
                <div class="row">
                    <div class="col-xs-6">Name</div>
                    <div class="col-xs-4">Created</div>
                    <div class="hidden-xs col-sm-2 pull-right">
                        <span class="glyphicon glyphicon-cog"></span>
                    </div>
                </div>
            </li>
            <li ng-repeat="playlist in model.playlists" class="list-group-item">
                <div class="row">
                    <a class="col-xs-6" href="index.html#!/community/playlist/{{playlist._id}}">{{playlist.name}}</a>
                    <div class="col-xs-4">{{playlist.dateCreated | date}}</div>
                    <div class="hidden-xs col-sm-2 pull-right">
                        <a class="btn btn-default" ng-click="model.deletePlaylist(playlist)">Remove Playlist</a>
                    </div>
                </div>
            </li>
        </ul>

        <a class="btn btn-default btn-block btn-warning"
           href="#!/community/playlist/new">New Playlist</a>

    </div>
</div>