<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="../../../style.css" rel="stylesheet"/>
</head>

<body>

<!-- Fixed navbar -->
<nav class="navbar navbar-fixed-top" name="page-navbar">
    <header href="index.html">
        <a href="../../page/templates/page-list.view.client.html">
            <span class="glyphicon glyphicon-chevron-left pull-left"
                  name="page-glyph">
            </span>
        </a>
        <a href="widget-choose.view.client.html">
            <span class="glyphicon glyphicon-plus pull-right"
                  name="page-glyph">
            </span>
        </a>
        Widgets
    </header>

</nav>

<div class="container-fluid">

    <div name="header-widget">
        <div class="col-xs-10">
            <h1>Best Coffee Shops in Boston</h1>
        </div>
        <div class="col-xs-2">
            <a href="widget-heading.view.client.html">
                <span class="glyphicon glyphicon-cog pull-right" name="website-glyph"></span>
            </a>
        </div>
    </div>

    <div name="image-widget">
        <div class="col-xs-10">
            <img src="https://cdn.doordash.com/media/restaurant/cover/thinkingcup.png">
        </div>
        <div class="col-xs-2">
            <a href="widget-image.view.client.html">
                <span class="glyphicon glyphicon-cog pull-right" name="website-glyph"></span>
            </a>
        </div>
    </div>

    <div name="youtube-widget">
        <div class="col-xs-10">
            <iframe src="https://www.youtube.com/embed/3jWRrafhO7M" allowfullscreen frameborder="0"></iframe>
        </div>
        <div class="col-xs-2">
            <a href="widget-youtube.view.client.html">
                <span class="glyphicon glyphicon-cog pull-right" name="website-glyph"></span>
            </a>
        </div>
    </div>

</div>

<nav class="navbar navbar-fixed-bottom" name="page-navbar">
    <a href="../../user/templates/profile.view.client.html">
        <span class="glyphicon glyphicon-user pull-right" name="website-glyph"></span>
    </a>
</nav>

</body>
</html>