<nav class="navbar navbar-fixed-top">
    <header href="index.html">
        <a href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget">
            <span class="glyphicon glyphicon-chevron-left pull-left"></span>
        </a>
        Choose Widget
    </header>
</nav>

<div class="container-fluid">

    <ul class="list-group">
        <li class="list-group-item">
            <a ng-click="model.editNewHeader()"
               href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/{{model.widget._id}}">Header</a>
        </li>
        <li class="list-group-item">
            <a ng-click="model.editNewImage()"
               href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/{{model.widget._id}}">Image</a>
        </li>
        <li class="list-group-item">
            <a ng-click="model.editNewYoutube()"
               href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/{{model.widget._id}}">Youtube</a>
        </li>
        <li class="list-group-item">
            <a ng-click="model.editNewHTML()"
               href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/{{model.widget._id}}">Text</a>
        </li>
    </ul>

</div>

<nav class="navbar navbar-fixed-bottom">
    <a href="#!/user/{{model.userId}}">
        <span class="glyphicon glyphicon-user pull-right"></span>
    </a>
</nav>