<div class="form-group">
        <label for="header-name">Name</label>
        <input name="header-name"
               id="header-name"
               type="text"
               placeholder="Name"
               class="form-control"/>
    </div>

    <div class="form-group">
        <label for="header-text">Text</label>
        <input name="header-text"
               id="header-text"
               type="text"
               ng-model="model.widget.text"
               placeholder="Text"
               class="form-control"/>
    </div>

</div>