<nav class="navbar navbar-fixed-top">
    <header href="index.html">
        <a href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget">
            <span class="glyphicon glyphicon-chevron-left pull-left"></span>
        </a>
        Edit Widget
    </header>
</nav>

<div ng-switch="{{model.widget.widgetType}}">
    <div ng-switch-when="HEADING">
        <ng-include src="'views/widget/templates/widget-heading-edit.view.client.html'">
    </div>
    <div ng-switch-when="IMAGE">
        <ng-include src="'views/widget/templates/widget-image-edit.view.client.html'">
    </div>
    <div ng-switch-when="YOUTUBE">
        <ng-include src="'views/widget/templates/widget-youtube-edit.view.client.html'">
    </div>
    <!--<div ng-switch-when="HTML">
        <ng-include src="'views/widget/templates/widget-html-edit.view.client.html'">
    </div>-->
</div>

<nav class="navbar navbar-fixed-bottom">
    <a href="#!/user/{{model.userId}}">
        <span class="glyphicon glyphicon-user pull-right"></span>
    </a>
</nav>
