<div class="container-fluid">

    <div class="form-group">
        <label for="youtube-name">Name</label>
        <input name="youtube-name"
               id="youtube-name"
               type="text"
               placeholder="Name"
               class="form-control"/>
    </div>

    <div class="form-group">
        <label for="youtube-text">Text</label>
        <input name="youtube-text"
               id="youtube-text"
               type="text"
               ng-model="model.widget.text"
               placeholder="Text"
               class="form-control"/>
    </div>

    <div class="form-group">
        <label for="youtube-url">URL</label>
        <input name="youtube-url"
               id="youtube-url"
               type="text"
               ng-model="model.widget.url"
               placeholder="URL"
               class="form-control"/>
    </div>

    <div class="form-group">
        <label for="youtube-width">Width</label>
        <input name="youtube-width"
               id="youtube-width"
               ng-model="model.widget.width"
               type="text"
               placeholder="Width"
               class="form-control"/>
    </div>

</div>