<nav class="navbar navbar-fixed-top">
    <header>
        <a href="#!/user/{{model.userId}}">
            <span class="glyphicon glyphicon-chevron-left pull-left"></span>
        </a>
        <a href="#!/user/{{model.userId}}/website/new">
            <span class="glyphicon glyphicon-plus pull-right"></span>
        </a>
        Website
    </header>
</nav>

<div class="container-fluid">

    <ul class="list-group">
        <li class="list-group-item" id="table-header">
            <div class="row">
                <div class="col-xs-10">Name</div>
                <div class="col-xs-2">
                    <a href="/user/{{model.userId}}/website/new">
                        <span class="glyphicon glyphicon-cog pull-right"></span>
                    </a>
                </div>
            </div>
        </li>
        <li ng-repeat="website in model.websites" class="list-group-item">
            <div class="row">
                <a class="col-xs-10" href="index.html#!/user/{{model.userId}}/website/{{website._id}}/page">{{website.name}}</a>
                <div class="col-xs-2 pull-right">
                    <a href="index.html#!/user/{{model.userId}}/website/{{website._id}}">
                        <span class="glyphicon glyphicon-cog pull-right" name="list-glyph"></span>
                    </a>
                </div>
            </div>
        </li>
    </ul>

</div>

<nav class="navbar navbar-fixed-bottom">
    <a href="#!/user/{{model.userId}}">
        <span class="glyphicon glyphicon-user pull-right"></span>
    </a>
</nav>