<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="../../../style.css" rel="stylesheet"/>
</head>

<body>

<!-- Fixed navbar -->
<nav class="navbar navbar-fixed-top" name="website-navbar">
    <header href="index.html">
        <a href="../../user/templates/profile.view.client.html">
            <span class="glyphicon glyphicon-chevron-left pull-left"></span>
        </a>
        <a href="website-new.view.client.html">
            <span class="glyphicon glyphicon-plus pull-right"></span>
        </a>
        Website
    </header>

</nav>

<div class="container-fluid">

    <ul class="list-group">
        <li class="list-group-item" id="table-header">
            <div class="row">
                <div class="col-xs-10">Name</div>
                <div class="col-xs-2">
                    <span class="glyphicon glyphicon-cog pull-right"></span>
                </div>
            </div>
        </li>
        <li class="list-group-item">
            <div class="row">
                <div class="col-xs-10">
                    <a href="../../page/templates/page-list.view.client.html">Wikipedia</a>
                </div>
                <div class="col-xs-2 pull-right">
                    <a href="website-edit.view.client.html">
                        <span class="glyphicon glyphicon-cog pull-right" name="website-glyph"></span>
                    </a>
                </div>
            </div>
        </li>
        <li class="list-group-item">
            <div class="row">
                <div class="col-xs-10">
                    <a href="../../page/templates/page-list.view.client.html">CNN</a>
                </div>
                <div class="col-xs-2 pull-right">
                    <a href="website-edit.view.client.html">
                        <span class="glyphicon glyphicon-cog pull-right" name="website-glyph"></span>
                    </a>
                </div>
            </div>
        </li>
    </ul>

</div>

<nav class="navbar navbar-fixed-bottom" name="website-navbar">
    <a href="../../user/templates/profile.view.client.html">
        <span class="glyphicon glyphicon-user pull-right"></span>
    </a>
</nav>

</body>
</html>