<nav class="navbar navbar-fixed-top">
    <header href="index.html">
        <a href="#!/user/{{model.userId}}/website">
            <span class="glyphicon glyphicon-chevron-left pull-left"></span>
        </a>
        <a ng-click="model.updateWebsite(website)">
            <span class="glyphicon glyphicon-ok pull-right"></span>
        </a>
        Edit Website
    </header>

</nav>

<div class="container-fluid">

    <div class="hidden-xs col-sm-3" id="side-pane">
        <ul class="list-group">
            <li ng-repeat="website in model.websites" class="list-group-item">
                <div class="row">
                    <a class="col-xs-10" href="/user/{{model.userId}}/website/{{website._id}}/page">{{website.name}}</a>
                    <div class="col-xs-2 pull-right">
                        <a href="/user/{{model.userId}}/website/{{website._id}}">
                            <span class="glyphicon glyphicon-cog pull-right" name="list-glyph"></span>
                        </a>
                    </div>
                </div>
            </li>
        </ul>
    </div>

    <div class="col-sm-9">
        <div class="form-group">
            <label for="name">Website Name</label>
            <input name="name"
                   id="name"
                   placeholder="Name"
                   ng-model="website.name"
                   class="form-control">
        </div>

        <div class="form-group">
            <label for="description">Website Description</label>
            <textarea name="description" id="description" type="text" ng-model="website.description" class="form-control"
                      rows="5"></textarea>
        </div>

        <a class="btn btn-default btn-block btn-danger"
           ng-click="model.deleteWebsite()"
           href="#!/user/{{model.userId}}/website"
           id="delete-button">Delete</a>
    </div>

</div>

<nav class="navbar navbar-fixed-bottom" name="website-navbar">
    <a href="#!/user/{{model.userId}}">
        <span class="glyphicon glyphicon-user pull-right"></span>
    </a>
</nav>