.navbar {
    font-size: 30px;
    padding: 10px;
    border: none;
    background-color: dodgerblue;
    color: white;
}

.glyphicon {
    color: white;
}

.container-fluid {
    padding-bottom: 80px;
    padding-top: 80px;
}