.glyphicon[name=website-glyph] {
    color: dodgerblue;
}

.glyphicon[name=page-glyph] {
    color: black;
}

.glyphicon {
    padding: 5px;
    color: white;
}

.navbar {
    font-size: 30px;
    padding: 10px;
    border: none;
}

.navbar[name=website-navbar] {
    background-color: dodgerblue;
    color: white;
}

.container-fluid {
    padding-bottom: 80px;
    padding-top: 80px;
    overflow: scroll;
}

#side-pane {
    position: relative;
    padding-right: 20px;
    border-right: 1px solid dodgerblue;
    overflow-y: scroll;
    width: 20%;
    height: 100vh;
}

ul {
    color: dodgerblue;
}

a {
    color: dodgerblue;
}

#table-header {
    background-color: dodgerblue;
    color: white;
}

.navbar[name=page-navbar] {
    background-color: whitesmoke;
    color: black;
}

input[type=file] {
    padding-bottom: 10px;
}

div:hover #widget-cog {
    display: block;
}

img {
    width: 40%;
}

iframe {
    padding-top: 10px;
    width: 560px;
    height: 315px;
}