.glyphicon[name=cog-glyph] {
    color: dodgerblue;
}

.glyphicon {
    padding: 5px;
    color: white;
}

.navbar {
    font-size: 30px;
    padding: 10px;
    border: none;
}

.navbar[name=website-navbar] {
    background-color: dodgerblue;
    color: white;
}

.container-fluid {
    padding-bottom: 80px;
    padding-top: 80px;
    overflow: scroll;
}

ul {
    color: dodgerblue;
}

.navbar[name=page-navbar] {
    background-color: whitesmoke;
    color: dimgray;
}

#page-back {
    color: black;
}

#page-plus {
    color: black;
}

#page-user {
    color: dodgerblue;
}

input[type=file] {
    padding-bottom: 10px;
}

div:hover #widget-cog {
    display: block;
}

img {
    width: 40%;
}

iframe {
    padding-top: 10px;
    width: 560px;
    height: 315px;
}