.glyphicon {
    padding: 5px;
    color: white;
}

.glyphicon[name=list-glyph] {
    color: black;
}

.alert {
    margin-top: 30px;
    position: relative;
}

.navbar-fixed-top{
    position: fixed;
    left: 0px;
    right: 0px;
    top: 0px;
    font-size: 36px;
    padding: 10px;
    border: none;
    background-color: black;
    color: white;
    font-family: "Garamond";
}

.navbar-fixed-bottom{
    position: fixed;
    left: 0px;
    right: 0px;
    bottom: 0px;
    font-size: 36px;
    padding: 10px;
    border: none;
    background-color: black;
    color: white;
}

.container-fluid {
    padding-bottom: 80px;
    padding-top: 80px;
    overflow: scroll;
}

#side-pane {
    position: relative;
    padding-right: 20px;
    border-right: 1px solid dodgerblue;
    overflow-y: scroll;
    height: 100vh;
}

ul {
    color: black;
}

a {
    color: black;
}

#table-header {
    background-color: black;
    color: white;
}

input[type=file] {
    padding-bottom: 10px;
}

div:hover #widget-cog {
    display: block;
}

img {
    padding-top: 10px;
    padding-bottom: 10px;
}

iframe {
    height: 100%;
    border: none;
}

#widget-list {
    padding-left: 20px;
    padding-right: 20px;
}