<div class="w3-top">
    <div class="w3-bar" id="homeNav">
        <a href="#" class="w3-bar-item w3-button"><i class="fa fa-home"></i> HOME</a>
        <a href="#!/community/{{model.userId}}" class="w3-bar-item w3-button w3-hide-small"><i class="fa fa-user"></i>
            MY PROFILE</a>
        <a href="#!/profile" class="w3-bar-item w3-button w3-hide-small"><i class="fa fa-user"></i>
            EDIT PROFILE</a>
        <a href="#!/community/playlist" class="w3-bar-item w3-button w3-hide-small"><i
                class="fa fa-th"></i> MY PLAYLISTS</a>
        <a href="#!/community/search" class="w3-bar-item w3-button w3-hide-small"><i
                class="fa fa-music"></i> FIND MUSIC</a>
        <a href="#!/community" class="w3-bar-item w3-button w3-hide-small"><i class="fa fa-users"></i> COMMUNITY</a>
        <a ng-click="model.logOut()" class="w3-bar-item w3-button w3-hide-small"><i class="fa fa-sign-out"></i> SIGN OUT</a>
    </div>
</div>

<div id="content">

    <div class="container-fluid" id="body">
        <ul class="list-group" ng-show="model.edit">
            <li class="list-group-item table-header">
                <div class="row">
                    <div class="col-xs-4">Name</div>
                    <div class="col-xs-4">Playlists</div>
                    <div class="col-xs-2">Followers</div>
                    <div class="col-xs-2 pull-right">Admin</div>
                </div>
            </li>
            <li ng-repeat="user in model.users" class="list-group-item">
                <div class="row">
                    <a class="col-xs-4" href="index.html#!/community/{{user._id}}">{{user.username}}</a>
                    <div class="col-xs-4">{{user.playlists.length}}</div>
                    <div class="col-xs-2">{{user.followers.length}}</div>
                    <div class="col-xs-2 pull-right">
                        <a class="btn btn-default" ng-click="model.removeUser(user)">Remove User</a>
                    </div>
                </div>
            </li>
        </ul>
        <ul class="list-group" ng-show="!model.edit">
            <li class="list-group-item table-header">
                <div class="row">
                    <div class="col-xs-4">Name</div>
                    <div class="col-xs-4">Playlists</div>
                    <div class="col-xs-4">Followers</div>
                </div>
            </li>
            <li ng-repeat="user in model.users" class="list-group-item">
                <div class="row">
                    <a class="col-xs-4" href="index.html#!/community/{{user._id}}">{{user.username}}</a>
                    <div class="col-xs-4">{{user.playlists.length}}</div>
                    <div class="col-xs-4">{{user.followers.length}}</div>
                </div>
            </li>
        </ul>
    </div>
</div>