<div class="w3-top">
    <div class="w3-bar" id="homeNav">
        <a href="#" class="w3-bar-item w3-button"><i class="fa fa-home"></i> HOME</a>
        <a href="#!/community/{{model.myId}}" class="w3-bar-item w3-button w3-hide-small"><i class="fa fa-user"></i>
            MY PROFILE</a>
        <a href="#!/profile" class="w3-bar-item w3-button w3-hide-small"><i class="fa fa-user"></i>
            EDIT PROFILE</a>
        <a href="#!/community/playlist" class="w3-bar-item w3-button w3-hide-small"><i
                class="fa fa-th"></i> MY PLAYLISTS</a>
        <a href="#!/community/search" class="w3-bar-item w3-button w3-hide-small"><i
                class="fa fa-music"></i> FIND MUSIC</a>
        <a href="#!/community" class="w3-bar-item w3-button w3-hide-small"><i class="fa fa-users"></i> COMMUNITY</a>
        <a href="#!/" class="w3-bar-item w3-button w3-hide-small"><i class="fa fa-sign-out"></i> SIGN OUT</a>
    </div>
</div>

<div id="content">

    <div class="container-fluid" id="body">

        <div class="col-sm-7">
            <h1 id="user-name">{{model.user.firstName}} {{model.user.lastName}}</h1>
            <h4>Username: {{model.user.username}}</h4>
            <h4>Email: {{model.user.email}}</h4><br/>
            <h4>About Me:</h4>
            <p>{{model.user.about}}</p><br/>

            <h2>Playlists</h2>
            <ul class="list-group" ng-show="model.edit">
                <li class="list-group-item table-header">
                    <div class="row">
                        <div class="col-xs-6">Name</div>
                        <div class="col-xs-3">Date Created</div>
                        <div class="col-xs-3">Delete Playlist</div>
                    </div>
                </li>

                <li ng-repeat="playlist in model.user.playlists" class="list-group-item">
                    <div class="row">
                        <a class="col-xs-6" href="#!/community/playlist/{{playlist._id}}">{{playlist.name}}</a>
                        <div class="col-xs-3">{{playlist.dateCreated | date}}</div>
                        <div class="col-xs-3 pull-right">
                            <a class="btn btn-default" ng-click="model.deletePlaylist(playlist)">Remove Playlist</a>
                        </div>
                    </div>
                </li>
            </ul>
            <ul class="list-group" ng-show="!model.edit">
                <li class="list-group-item table-header">
                    <div class="row">
                        <div class="col-xs-6">Name</div>
                        <div class="col-xs-6">Date Created</div>
                    </div>
                </li>

                <li ng-repeat="playlist in model.user.playlists" class="list-group-item">
                    <div class="row">
                        <a class="col-xs-6" href="#!/community/playlist/{{playlist._id}}">{{playlist.name}}</a>
                        <div class="col-xs-6">{{playlist.dateCreated | date}}</div>
                    </div>
                </li>
            </ul>

        </div>

        <div class="col-sm-5 col-xs-hidden">
            <div class="form-group">
                <a class="btn btn-default btn-block btn-primary" ng-click="model.follow()"
                   ng-show="model.follows">Follow</a>
                <a class="btn btn-default btn-block btn-primary" ng-show="model.followed"
                   ng-click="model.follow()">Unfollow</a>

                <h2>Follows</h2>
                <ul class="list-group">
                    <li class="list-group-item table-header">
                        <div class="row">
                            <div class="col-xs-8">Name</div>
                            <div class="col-xs-4">Followers</div>
                        </div>
                    </li>
                    <li class="list-group-item" ng-repeat="follows in model.user.follows">
                        <div class="row">
                            <a class="col-xs-8" href="#!/community/{{follows._id}}">{{follows.username}}</a>
                            <div class="col-xs-4">{{follows.followers.length}}</div>
                        </div>
                    </li>
                </ul>
                <br/>

                <h2>Followers</h2>
                <ul class="list-group">
                    <li class="list-group-item table-header">
                        <div class="row">
                            <div class="col-xs-8">Name</div>
                            <div class="col-xs-4">Followers</div>
                        </div>
                    </li>
                    <li class="list-group-item" ng-repeat="follower in model.user.followers">
                        <div class="row">
                            <a class="col-xs-8" href="#!/community/{{follower._id}}">{{follower.username}}</a>
                            <div class="col-xs-4">{{follower.followers.length}}</div>
                        </div>
                    </li>
                </ul>

            </div>
        </div>

    </div>

</div>