<div class="w3-top">
    <div class="w3-bar" id="homeNav">
        <a href="#" class="w3-bar-item w3-button"><i class="fa fa-home"></i> HOME</a>
        <a href="#!/community/{{model.userId}}" class="w3-bar-item w3-button w3-hide-small"><i class="fa fa-user"></i>
            MY PROFILE</a>
        <a href="#!/profile" class="w3-bar-item w3-button w3-hide-small"><i class="fa fa-user"></i>
            EDIT PROFILE</a>
        <a href="#!/community/playlist" class="w3-bar-item w3-button w3-hide-small"><i
                class="fa fa-th"></i> MY PLAYLISTS</a>
        <a href="#!/community/search" class="w3-bar-item w3-button w3-hide-small"><i
                class="fa fa-music"></i> FIND MUSIC</a>
        <a href="#!/community" class="w3-bar-item w3-button w3-hide-small"><i class="fa fa-users"></i> COMMUNITY</a>
        <a ng-click="model.logOut()" class="w3-bar-item w3-button w3-hide-small"><i class="fa fa-sign-out"></i> SIGN OUT</a>
    </div>
</div>

<div id="content">
    <div class="container-fluid" id="body">

        <div class="form-group">
            <label for="username">Username</label>
            <input name="username"
                   id="username"
                   ng-model="model.user.username"
                   placeholder="Username"
                   class="form-control">
        </div>

        <div class="form-group">
            <label for="email">Email</label>
            <input name="email"
                   id="email"
                   ng-model="model.user.email"
                   class="form-control"/>
        </div>

        <div class="form-group">
            <label for="firstName">First Name</label>
            <input name="firstName"
                   id="firstName"
                   ng-model="model.user.firstName"
                   placeholder="First Name"
                   class="form-control"/>
        </div>

        <div class="form-group">
            <label for="lastName">Last Name</label>
            <input name="lastName"
                   id="lastName"
                   ng-model="model.user.lastName"
                   placeholder="Last Name"
                   class="form-control"/>
        </div>

        <div class="form-group">
            <label for="about">About Me</label>
            <textarea name="about"
                      id="about"
                      type="text"
                      placeholder="Music I like, Hobbies..."
                      ng-model="model.user.about"
                      class="form-control"
                      rows="3"></textarea>
        </div>

        <div class="form-group">
            <label for="lastName">Admin?</label>
            <input name="lastName"
                   id="admin"
                   ng-model="model.user.isAdmin"
                   placeholder="false"
                   class="form-control"/>
        </div>

        <div class="form-group">

            <a class="btn btn-default btn-block btn-warning"
               ng-click="model.updateUser(model.user)">Update</a>

            <a class="btn btn-default btn-block btn-danger"
               ng-click="model.unregister()">Unregister</a>

        </div>

    </div>
</div>