<div class="w3-top">
    <div class="w3-bar">
        <a href="#" class="w3-bar-item w3-button"><i class="fa fa-home"></i> HOME</a>
        <a href="#!/search" class="w3-bar-item w3-button w3-hide-small"><i class="fa fa-music"></i> MUSIC</a>
        <a href="#!/community" class="w3-bar-item w3-button w3-hide-small"><i class="fa fa-users"></i> COMMUNITY</a>
        <a href="#!/login" class="w3-bar-item w3-button w3-hide-small"><i class="fa fa-envelope"></i> LOGIN</a>
    </div>
</div>

<div id="content">
    <div ng-show="model.error" class="alert alert-danger">
        {{model.error}}
    </div>

    <div class="container-fluid">
        <div class="page-header">
            <h1 id="register-header">Register</h1>
        </div>

        <div class="form-group">
            <input name="username"
                   id="username"
                   type="text"
                   ng-model="user.username"
                   placeholder="Username"
                   class="form-control">
        </div>

        <div class="form-group">
            <input name="firstName"
                   id="firstName"
                   type="text"
                   ng-model="user.firstName"
                   placeholder="First Name"
                   class="form-control">
        </div>

        <div class="form-group">
            <input name="lastName"
                   id="lastName"
                   type="text"
                   ng-model="user.lastName"
                   placeholder="Last Name"
                   class="form-control">
        </div>

        <div class="form-group">
            <input name="password"
                   id="password"
                   ng-model="user.password"
                   type="password"
                   type="text"
                   placeholder="Password"
                   class="form-control"/>
        </div>

        <div class="form-group">
            <input name="verify"
                   id="verify"
                   ng-model="user.passwordv"
                   type="password"
                   type="text"
                   placeholder="Verify Password"
                   class="form-control"/>
        </div>

        <div class="form-group">
            <a class="btn btn-default btn-block btn-primary"
               ng-click="model.registerUser(user)"
               id="register-button">Register</a>

            <a class="btn btn-default btn-block btn-danger"
               href="#!/login"
               id="cancel-button">Cancel</a>
        </div>

    </div>
</div>