<nav class="navbar navbar-fixed-top">
    <header>
        <a href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page">
            <span class="glyphicon glyphicon-chevron-left pull-left"></span>
        </a>
        <a href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page"
           ng-click="model.addPage()">
            <span class="glyphicon glyphicon-ok pull-right"></span>
        </a>
        New Page
    </header>

</nav>

<div class="container-fluid">

    <div class="hidden-xs col-sm-3" id="side-pane">
        <ul class="list-group">
            <li ng-repeat="page in model.pages" class="list-group-item">
                <div class="row">
                    <a class="col-xs-10" href="index.html#!/user/{{model.userId}}/website/{{model.websiteId}}/page/{{page._id}}/widget">{{page.name}}</a>
                    <div class="col-xs-2 pull-right">
                        <a href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page/{{page._id}}">
                            <span class="glyphicon glyphicon-cog pull-right" name="list-glyph"></span>
                        </a>
                    </div>
                </div>
            </li>
        </ul>
    </div>

    <div class="col-sm-9">

        <div class="form-group">
            <label for="page-name">Name</label>
            <input name="page-name"
                   id="page-name"
                   type="text"
                   placeholder="Name"
                   ng-model="model.page.name"
                   class="form-control"/>
        </div>

        <div class="form-group">
            <label for="description">Description</label>
            <textarea name="description" id="description" type="text" placeholder="Description" class="form-control"
                      ng-model="model.page.description"
                      rows="3"></textarea>
        </div>

    </div>

</div>

<nav class="navbar navbar-fixed-bottom">
    <a href="#!/user/{{model.userId}}">
        <span class="glyphicon glyphicon-user pull-right"></span>
    </a>
</nav>